{% extends 'layout/layout.twig' %}

{% block content %}
    <div class="container">
    <form action="index.php?page=article&method=editArticle" method="post">
        <input type="hidden" name="idArticle" value="{{ article.idArticle }}">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" class="form-control" value="{{article.title}}" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="chapo">Chapo</label>
            <input type="text" class="form-control" value="{{article.chapo}}" id="chapo" name="chapo">
        </div>
        <div class="form-group form-check">
            <label for="content">Contenu</label>
            <textarea type="text" class="form-control" rows="10" id="content" name="content">{{article.content}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Editer</button>
    </form>

    </div>
{% endblock %}