{% extends 'layout/layout.twig' %}

{% block content %}
<div style="display:flex; flex-direction: row; justify-content: space-around;">
	<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image" style="object-fit: contain;
    width: 40%;">
	<form method="post" action="index.php?page=login&method=register" style=" width: 40%;">
		<div class="form-group">
			<label for="text">Pseudo</label>
			<input type="text" name="pseudo" class="form-control" id="passwrd" placeholder="Pseudo">
		</div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>

		<div class="form-group">
			<label for="passwrd">Mot de passe</label>
			<input type="password" name="password1" class="form-control" id="passwrd" placeholder="Password">
		</div>
		<div class="form-group">
			<label for="passwrd">Confirmez le mot de passe</label>
			<input type="password" name="password2" class="form-control" id="passwrd" placeholder="Password">
		</div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
