@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Raleway:wght@300&display=swap');

img {
    width:10rem;
}

/** Pour que le footer se colle bien en bas **/
html,body{
    height:100%;
}
body {
    margin: 0;
    font-family: 'EB Garamond', serif !important;

}
.page {
    display: table;
    width: 100%;
    height: 100%;
}

.site-header,
.site-content,
.site-footer {
    display: table-row
}

footer{
    width:100%;
}

/** Card de listblog **/
.card-body{
    background-color:rgb(232,232,232);
}

/** Admin/Mon Compte **/

.panel{
    border-collapse: separate;
    border-spacing: 1em;
    border-color:white;
    border-style:dashed;
    border-radius:5%;
    border-width:0.1em;
}

.link{
    border-color:white;
    border-style:dashed;
    border-radius:5%;
    border-width:0.1em;
}

.mdp{
    border-color:black;
    border-style:dashed;
}

/** Page des articles **/

div.jumbotron.blog-page{
 padding: 1rem 4rem 2rem;
}

.date-blog-page{

}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
    font-weight: 600;
    font-size: 18px;
    
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #D9E5D6 !important;
}

.jumbotron {
    background-color: white;

}

.text-center > p {
font-size: 25px !important;
margin-top: 30px;
}

 .fixed-top  {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    background-color: #0FA3B1;
} 

.btn-warning {
background-color: #EDDEA4;
border-color: #EDDEA4;
}

.btn-warning:hover {
    background-color: #D9E5D6;
    border-color: #D9E5D6;
}
