{% extends 'layout/layout.twig' %}
{% block title %}

{% endblock %}

{% block content %}
    <div class="form-group text-center">
        <h3>Me contacter</h3>
        <form class="form-contact" method="post" action="../config/mailer.php">
            <div class="row">
                <div class="col-lg-6 pt-3">
                    <input type="text" name="name" class="form-control text-center" placeholder="Nom et prénom">
                </div>
                <div class="col-lg-6 pt-3">
                    <input type="email" name="email" class="form-control text-center" placeholder="Adresse email">
                </div>
            </div>
                <div class="row">
                    <div class="col pt-3">
                        <textarea name="content" class="form-control" rows="4" id="message"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col pt-3">
                        <input class="envoye" type="submit" onclick="return confirm('Merci pour votre message une réponse vous sera envoyée trés rapidement !')" value="Envoyer"/>
                    </div>
                </div>

        </form>
    </div>
{% endblock %}
