<ul class="list-inline text-center">
	<li class="list-inline-item">
		<a href="#!">
			<span class="fa-stack fa-lg">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
			</span>
		</a>
	</li>
	<li class="list-inline-item">
		<a href="https://www.linkedin.com/in/rogaya-hamdaoui/">
			<span class="fa-stack fa-lg">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
			</span>
		</a>
	</li>
	<li class="list-inline-item">
		<a href="https://github.com/temimi94">
			<span class="fa-stack fa-lg">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fab fa-github fa-stack-1x fa-inverse"></i>
			</span>
		</a>
	</li>

	{% if session.sessionId is defined %}
		{% if session.rank == 'Administrateur' %}
			<li class="list-inline-item">
				<a href="index.php?page=admin">
					<span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
					<i class="fa-duotone fa-id-card-clip"></i>
				</a>
			</li>
		</ul>

	{% endif %}
{% endif %}
<div class="row">
	<div class="col pt-2">
		<p>Copyright 2023 - Hamdaoui Rogaya</p>
	</div>
</div>
<!-- TODO Ajouter lien admin
