<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Blog PHP - Projet 5 - Développeur d'application PHP/Symfony - OpenClassrooms ">
    <meta name="author" content="Kinder Théo">
    <title>Projet 5 - PHP - Développeur d'application Symfony - OpenClassrooms</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="../public/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="page">
        <div class="container site-header">
            {{  include ('layout/navbar.twig') }}
        </div>
        <main role="main" class="site-content">
            <div class="jumbotron">

                <div class="container">
                    <div class="row pt-5">
                        <div class="col-lg-2 text-center">
                            <img src="../public/img/myAvatar.png" class="rounded-circle" alt="Avatar">
                        </div>
                        <div class="col-lg-10 text-center">
                            <h2>Kinder Théo<br> étudiant développeur PHP / Symfony chez OpenClassrooms</h2>
                        </div>
                    </div>
                    {% block title %}{% endblock %}
                </div>

            </div>

                <div class="container pb-5">
                    {% if erreur is defined %}
                        <div class="alert alert-danger text-center" role="alert">{{ erreur }}</div>
                    {% endif %}
                    {% if success is defined %}
                        <div class="alert alert-success text-center" role="alert">{{ success }}</div>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>

        </main>

        <footer class="site-footer footer bg-dark text-white-50">
            <div class="container mt-3 mb-3 text-md-center">
              {{  include('layout/footer.twig') }}
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>

