<nav class="navbar navbar-expand-md navbar-dark fixed-top ">
    <a class="navbar-brand" href="index.php?page=home"><img src="../public/img/gayah.jpg" style="width: 50px; border-radius: 50%;" alt="Avatar"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="menu">
    <ul class="navbar-nav mr-auto">
       
        <li class="nav-item">
            <a class="nav-link" href="index.php?page=article&method=list">Liste des articles</a>
        </li>

        {% if session.sessionId is defined %}
            {% if session.rank == 'Administrateur' %}
        <li class="nav-item">
            <a class="nav-link" href="index.php?page=article&method=createArticle">Créer un article</a> {# verifier autorisation create article#}
        </li>
            {% endif %}
        {% endif %}
    </ul>

    {% if session.sessionId is defined %}
    <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
            {% if session.rank == 'Administrateur' %}
                <a class="nav-link"  style="margin-left: 10px" href="index.php?page=admin">Mon compte</a>
            {% elseif session.rank == 'Utilisateur' %}
                <a class="nav-link" style="margin-left: 10px" href="index.php?page=user">Mon compte</a>
            {% endif %}
        </li>
    </ul>
    {% endif %}

    {% if session.sessionId is defined %}
        <form class="nav-item">
            <a class="btn btn-warning" style="margin-left: 10px" href="index.php?page=login&method=logout">Déconnexion</a>
        </form>
    {% else %}
        <form class="nav-item">
        <a class="btn btn-success" href="index.php?page=login">Connexion</a>
        </form>
        <form class="nav-item">
            <a class="btn btn-warning" href="index.php?page=login&method=register">Créer un compte</a>
        </form>
    {% endif %}
</div>
</nav>
